.channel-title {
}

.channel-container {
    display: flex;
    position: absolute;
    left: 122px;
    align-items: baseline;
    width: 248px;
    height: 54vh;
    overflow: scroll;
    flex-direction: column;
    background-color: rgb(47,49,54);
    color: rgb(137,141,146);
    top: 39px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Catamaran', sans-serif;
}

.channel-container::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}

.channel-container::-webkit-scrollbar-track {
    background: rgb(47,49,54);        /* color of the tracking area */
}
  
.channel-container::-webkit-scrollbar-thumb {
    background-color: rgb(33,36,39);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}

.channel-items {
    list-style: none;
}