.channel-title {
}

.channel-container {
    display: flex;
    position: absolute;
    left: 131px;
    align-items: baseline;
    width: 254px;
    height: 91vh;
    overflow: scroll;
    flex-direction: column;
    background-color: rgb(47,49,54);
    color: rgb(137,141,146);
    top: -8px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Catamaran', sans-serif;
}

.channel-items {
    list-style: none;
}