.channel-title {
    outline: none;
    background: transparent;
    border: none;
    color: rgb(142,145,150);
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.channel-title:link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.channel-button {
    outline: none;
    background: transparent;
    border: none;
    text-decoration: none;
    padding-bottom: 7px;
    padding-top: 7px;
    width: 100%;
    border-radius: 5px;
    margin-top: 3px;
}

.channel-container {
    display: flex;
    /* position: absolute; */
    /* left: 63px; */
    align-items: baseline;
    width: 248px;
    height: calc(100% - 57px);
    overflow: scroll;
    flex-direction: column;
    background-color: rgb(47,49,54);
    color: rgb(95,98,102);
    /* top: 39px; */
    font-size: 16px;
    font-weight: 700;
    font-family: 'Catamaran', sans-serif;
}

.channel-items-container {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
}

.channel-container::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}

.channel-container::-webkit-scrollbar-corner {
    background: rgb(47,49,54);
}

.channel-container::-webkit-scrollbar-track {
    background: rgb(47,49,54);        /* color of the tracking area */
    background-color: rgb(47,49,54);
}
  
.channel-container::-webkit-scrollbar-thumb {
    background-color: rgb(33,36,39);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}

.channel-items {
    list-style: none;
    text-decoration: none;
    display: flex;
    position: relative;
    left: 6px;
    width: calc(100% - 6px);
}

.channel-button:hover {
   background-color: rgb(52, 55, 60)
}

.fa-hashtag {
    color: rgb(115,118,125);
    margin-right: 7px;
    font-weight: 300;
    font-size: 16px;
}

.create-channel-form {
    
    display: flex;
    position: relative;
    left: 45px;

}

.channel-form-title {
    color: rgb(64,78,236);
    display: grid;
    position: relative;
}

.channel-form-input {
    border-radius: 15px;
    background-color: rgb(66,70,75);
}

.channel-form-submit {
    border-radius: 15px;
    background-color: rgb(66,70,75);
}