.chatroom-container {
    display: flex;
    width: calc(100% - 204px);
    height: calc(100% - 47px);
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(55,58,63);
}

  .message-list {
    border-left-style: none;
    overflow-y: scroll;
    border: solid black 1px;
    background-color: rgb(55,58,63);
    color: white;
    font-size: large;
    border-bottom-style: none;
    border-color: rgb(55,58,63);
    width: 100%;
    height: calc(100% - 40px);
    padding-top: 15px;
}

.load-button {
    position: unset;
    top: 678px;
    z-index: 1;
    right: 555px;
    border-radius: 10px;
    background-color: #383b40;
}

.message-container {
    padding-left: 15px;
    padding-top: 5px;
}

.chat-messages {
    list-style: none;
    display: flex;
    /* padding-bottom: 10px; */
    padding: 0px 15px;
    margin-bottom: 15px;
    font-family: 'Catamaran', sans-serif;
    font-size: medium;
    font-weight: 400;
}


.chat-messages:hover {
    background-color: rgb(55,58,63)
 }

.username-in-chat {
    color: pink;
    font-weight: bold;
    font-size: 14px;
}

.username-in-chat:hover {
    background-color: rgb(47,49,53);
}

.username-and-date-container {
    display: flex;
    padding-bottom: 5px;
    align-items: flex-end;
}

.profile-in-chat {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.date-in-chat {
    color: lightslategray;
    padding-left: 10px;
    font-size: small;
}

.message-in-chat {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    justify-content: flex-start;
    line-height: 1.3;
    color: #dcddde;
}

.chat-submit {
    display: flex;
    width: 100%;
    padding: 0 10px;
}

.message-box {
        /* height: 6vh; */
        width: calc(100% - 54px);
        font-size: inherit;
        /* position: relative; */
        /* left: -11px; */
        color: white;
        background-color: rgb(65,69,75);
        border-radius: 14px;
        border: 0px;
        /* top: -40px;*/
}

.message-submit {
    height: 35px;
    width: 35px;
    font-size: x-large;
    /* position: relative; */
    background-color: rgb(65,69,75);
    color: springgreen;
    border: rgb(65,69,75);
    border-radius: 14px;
    /* left: -7px; */
    /* top: -40px; */
}

.message-form {
    width: 100%;
}