

.chatroom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 311px;
    background-color: rgb(55,58,63);
    height: 91.5vh;
    top: 68px;
}

  .message-list {
    border-left-style: none;
    overflow-y: scroll;
    height: 88.9vh;
    width: 701px;
    left: 0px;
    border: solid black 1px;
    background-color: rgb(55,58,63);
    position: relative;
    bottom: 47px;
    color: white;
    font-size: large;
    border-bottom-style: none;
    border-color: rgb(55,58,63);
}

.load-button {
    position: unset;
    top: 678px;
    z-index: 1;
    right: 555px;
    border-radius: 10px;
    background-color: #383B40;
}

.chat-messages {
    list-style: none;
    display: flex;
}

.profile-in-chat {
    display: flex;
    width: 45px;
}

.date-in-chat {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    left: -128px;
    color: pink;
    font-size: x-small;
    top: -4px;
}

.chat-submit {
    position: relative;
    bottom: 65px;
    display: flex;
    height: 1px;
}

.message-box {
    height: 6vh;
    width: 618px;
    font-size: inherit;
    position: relative;
    left: -11px;
    color: white;
    background-color: rgb(65,69,75);
    border-radius: 14px;
    border: 0px;
    top: -18px;
}

.message-submit {
    height: 6.5vh;
    width: 4vw;
    font-size: x-large;
    position: relative;
    /* right: -33px; */
    background-color: rgb(65,69,75);
    color: springgreen;
    border: rgb(65,69,75);
    border-radius: 14px;
    left: -7px;
    top: -20px;
}

