.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    border-radius: 13px;
    height: 147px;
    width: 290px;
    color: rgb(66,70,75);
  }

  .fas fa-plus {
      
  }

  .modal-title {
    display: flex;
    align-items: center;
    font-size: x-large;
    flex-direction: column;
    color: rgb(64,78,236);
  }

  .add-server-input {
    width: 124px;
    background-color: rgb(66,70,75);
  }

  .add-server-modal {
    width: 183px;
    display: block;
    align-self: center;
    margin-left: 3%;
    color: white;
    background-color: rgb(64,78,236);
    border-radius: 7px;
    height: 42px;
  }