.online-container {
    display: flex;
    position: -webkit-sticky;
    flex-direction: column;
    color: pink;
    background-color: rgb(47,49,53);
    height: calc;
    width: 204px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Catamaran', sans-serif;
    overflow: scroll;
}

.members-list {
    display: flex;
    position: relative;
    align-content: center;
    left: 13px;
    font-size: smaller;
}

.online-list {
    list-style: none;
    padding: 0px 5px;
}

.online-list li {
}


.online-list li:hover {
    background-color: rgb(57, 59, 64);
    cursor: pointer; 
}

img.profile1 {
    width: 32px;
    /* padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px; */
}

img.profile2 {
    width: 32px;
    /* padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px; */
}
.profile1 {
    color: pink;
}

.profile2 {
    color: purple;
}