.online {
    display: flex;
    position: absolute;
    position: -webkit-sticky;
    flex-direction: column;
    left: 998px;
    color: pink;
    background-color: rgb(47,49,53);
    height: 95.5vh;
    top: 40px;
    width: 32vw;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Catamaran', sans-serif;
    overflow: scroll;
}

.members-list {
    display: flex;
    position: relative;
    align-content: center;
    left: 13px;
    font-size: smaller;
}

.online > li {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    left: 12px;
}

img.profile1 {
    width: 32px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

img.profile2 {
    width: 32px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.online > li:hover {
    background-color: rgb(137,141,146);
}

.profile1 {
    color: pink;
}

.profile2 {
    color: purple;
}