.icon-change {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: -14px;
    left: 131px;
    height: 81px;
    width: 239px;
    background-color: rgb(47,49,54);
}

.icon-change > form > img {
    width: 100px;
}

.icon-form {
    
}