.icon-change {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: -15px;
    left: 122px;
    height: 12vh;
    width: 248px;
    background-color: rgb(41,44,48);
}

.icon-change > form > img {
    width: 100px;
}

.icon-form {
    
}