.responsive-home {
    width: calc(100% - 56px)
}


.channel-and-profile {
  
    height: calc(100% - 47px);
    width: 248px;

}

.row-components {
    display: flex;
    height: 100%;
    width: 100%;
}