.search-container {
    display: flex;
    position: absolute;
    background-color: rgb(55,58,63);
    justify-content: space-evenly;
    width: 91.0vw;
    left: 17.3%;
    height: 47px;
    top: -8px;
}