.search-container {
    display: flex;
    position: absolute;
    background-color: rgb(55,58,63);
    justify-content: space-evenly;
    width: 95.4vw;
    left: 9%;
    height: 47px;
    top: -8px;
}