.login-form-box {
    background-color: rgb(54,57,63);
    border-radius: 5px;
    display: flex;
    position: absolute;
    right: 23%;
    top: 14%;
    flex-direction: column;
    padding: 10px 30px 20px 30px;
    color: white;
    width: 653px;
    border-radius: 5px;
    height: 423px;
    border: solid black 2px;
}

.login-form-box form {
    display: block;
    position: relative;
    bottom: -100px;
}

.auth-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* margin-left: -.75%; */
    left: -1px;
    /* margin-top: 0.5%; 
}

.blob-background {
    display: flex;
    position: absolute;
    /* justify-content: flex-start; */
    z-index: 0;
    top: -8px;
    left: -5px;
    height: auto;
    overflow: hidden;
}

.welcome-text {
    color: white;
    display: flex;
    position: relative;
    left: 111px;
    top: 96px;
    font-family: 'Catamaran';
}

.excited-text {
    color: rgb(171,172,176);
    display: flex;
    /* justify-content: center; */
    left: 55px;
    position: relative;
    font-family: 'Catamaran';
    bottom: -50px;
}

.session-submit-button {
    background-color: rgb(114,137,218);
    width: 345px;
    height: 31px;
    border-radius: 6px;
    color: white;
    border: solid;
    border: black;
    border-width: 18px;
}

.login-username-text {
    color: rgb(171,172,176);
    font-size: small;
}

.login-password-text {
    color: rgb(171,172,176);
    font-size: small;
}

.login-username-input {
    width: 345px;
    height: 31px;
    background-color: rgb(49,52,57);
    border-radius: 6px;
    color: white;
    border: solid;
    border: black;
    border-width: 18px;
}


.login-password-input {
    width: 345px;
    height: 31px;
    background-color: rgb(231,241,254);
    border-radius: 6px;
    color: rgb(49,52,57);
    border: solid;
    border: black;
    border-width: 18px;
}

.need-account-text {
    color: rgb(171,172,176);
    text-decoration: none;
}

.register-link {
    text-decoration: none;
    color: rgb(114,137,218);
}

.demo-button > button {
    background-color: rgb(114,137,218);
    width: 258px;
    height: 43px;
    border-radius: 6px;
    color: white;
    border: solid;
    border: black;
    border-width: 18px;
    position: relative;
    left: 389px;
    height: 211px;
    font-size: xx-large;
    bottom: 209px;
}

.demo-button > button:hover {
    cursor: pointer;
}

.signup-form-box {
    background-color: rgb(54,57,63);
    border-radius: 5px;
    display: flex;
    position: absolute;
    right: 35%;
    top: 14%;
    flex-direction: column;
    padding: 10px 30px 20px 30px;
    color: white;
    width: 350px;
    border-radius: 5px;
    height: 259px;
}

.create-text {
    color: white;
    display: flex;
    justify-content: center;
}

.register-username-text {
    color: rgb(171,172,176);
    font-size: small;
}

.register-username-and-email-input {
    width: 345px;
    height: 31px;
    background-color: rgb(49,52,57);
    border-radius: 6px;
    color: white;
    border: solid;
    border: black;
    border-width: 18px;
}

.register-email-text {
    color: rgb(171,172,176);
    font-size: small;
}

.register-password-text {
    color: rgb(171,172,176);
    font-size: small;
}

.register-password-input {
    width: 345px;
    height: 31px;
    background-color: rgb(231,241,254);
    border-radius: 6px;
    color: rgb(49,52,57);
    border: solid;
    border: black;
    border-width: 18px;
}

.register-submit-button {
    background-color: rgb(114,137,218);
    width: 345px;
    height: 31px;
    border-radius: 6px;
    color: white;
    border: solid;
    border: black;
    border-width: 18px;
}   

.have-an-account-text {
    color: rgb(171,172,176);
    text-decoration: none;
}