.entire-splash {
    height: 10px;
}

.homepage {
    margin: auto;
    color: white;
}

/* html {
    background-color: rgb(41,95,231);
} */

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(64,78,236);
}

.splash-description {
    position: absolute;
    text-align: center;
    width: 50vw;
    height: 50vh;
    z-index: 2;
    margin: 0 auto;
    left: 25%;
    top: -20%;
    font-weight: 100;
    font-size: 19px;
}
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
.description-title {
    font-size: 54px;
    margin: 1px;
    font-family: 'Seymour One', sans-serif;
    font-weight: 700;
}

.bottom-buttons {
    position: relative;
    left: 118px;
}

.github {
    border-radius: 40px;
    background-color: white;
    margin: 0px 16px 0px 0px;
    padding: 19px 47px;
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-weight: bolder;
    top: 33px;
    left: -113px;
    position: relative;
}

.other-splash-link {
    border-radius: 40px;
    background-color: black;
    margin: 0px 16px 0px 0px;
    padding: 19px 47px;
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: bolder;
    top: 33px;
    left: -113px;
    position: relative;
}

.background-pics {
    position: relative;
    z-index: 1;
    height: 400px;
    top: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15%;
}

.background-pic-left {
    display: block;
    margin-left: -250px;
    width: 700px;
}

.background-pic-right {
    display: block;
    margin-right: -200px;
    width: 700px;
}

.footer-splash {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
    z-index: 1;
    height: 18vh;
    width: 2000px;
    margin-left: -10%;
}

.footer-text {
    position: relative;
    left: -7.5%;
}

