.homepage {
    margin: auto;
    color: white;
}

html {
    background-color: #7289da;
}

.splash-title {
    display: flex;
    justify-content: center;
}

.splash-description {
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px #504545
}

.background-pics {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.background-pics > img {
    z-index: -1;
    width: 85%;
    transform: translateX(-200px);
}

