.VideoCall {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 99px;
    width: 250px;
    left: 120px;
    justify-content: center;
    height: 18vh;
    background-color: rgb(47,49,54);
}

.join-call {
    display: flex;
    position: absolute;
    right: -73px;
    top: -67px;
}

.leave-call {
    display: flex;
    position: absolute;
    right: 1px;
    top: -6px;
}